# ignore all bin directories
# matches "bin" in any subfolder
bin/

#ignore metadata
.metadata

# ignore all executables
*.jar

# ignore all files ending with ~
*~ 

#ignore Excel files
finals/
*.xlsx

